:root,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

html {
  background-color: #E5E5E5;
}

body {
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  font-family: "Poppins", sans-serif;
  margin: 0px auto;
  width: 550px;
}

li {
  list-style: none;
}
